* {
    margin: 0;
    padding: 0;
  }

.selectRSVP {
    margin-left: 10vw;
    width: 38vw;
    padding: 25px;  
    background-color:  rgb(206, 205, 205);
}

.counters {
    margin-left: 22vw;
    margin-top: 20vh;
    margin-bottom: 5px;
    width: 30vw; 
    background-color: white;
}

.name,.email,.phone,.photo {
    margin-bottom: 15px;
    margin-left: 30px;
}

.buttons,.photo {
    margin-left: 30px;  
    display: flex;
    justify-content: space-around;    
}

.going {
      color: white;
      background-color: #69bc6c; 
      border: none;
      width: 40px;
      height: 25px;

  }

.notgoing {
      color: white;
      font-weight: 900;
      background-color: rgb(240, 80, 80);
      border: transparent;
      width: 40px;
      height: 25px;

  }

  button:focus {
      outline: none;
  }